{{ define "response" }}
  {{ template "layout" . }}
{{ end }}

{{ define "content" }}
<div class="center">
  <div>
    <span class="label">App ID </span><span class="data">{{ .GetID }}</span>
  </div>
  <div>
    <span class="label">Webhook Secret </span><span class="data">{{ .GetWebhookSecret }}</span>
  </div>
  <div>
    <span class="label">PEM</span><pre class="data">{{ .GetPEM }}</pre>
  </div>
</div>
{{ end }}
