{{ define "content" }}
<div class="center">
  <div class="kv">
    <div class="key">
      <span class="key-label">App ID</span> <span class="copy-clipboard">[copy to clipboard]</span>
    </div>
    <div>
      <span class="value">{{ .GetID }}</span>
    </div>
  </div>
  <div class="kv">
    <div class="key">
      <span class="key-label">Webhook Secret</span> <span class="copy-clipboard">[copy to clipboard]</span>
    </div>
    <div>
      <span class="value">{{ .GetWebhookSecret }}</span>
    </div>
  </div>
  <div class="kv">
    <div class="key">
      <span class="key-label">PEM</span> <span class="copy-clipboard">[copy to clipboard]</span>
    </div>
    <div>
      <span class="value">{{ .GetPEM }}</span>
    </div>
  </div>
</div>
{{ end }}
